body {
    background-image: url("https://www.itsinternational.com/sites/default/files/2021-10/The%20investment%20is%20expected%20to%20improve%20the%20safety%20and%20reliability%20along%20the%20section%20of%20highway%20%28%C2%A9%20Alexander%20Cimbal%20%20Dreamstime.com%29.jpg");
    background-size : cover;
    margin : 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .background {
    display : grid;
    grid-gap: 20px;
    margin : auto;
    padding : 20px;
    width : 65%;
    background-color: rgb(186,197,216);
    border-radius : 15px;
  }

  .header {
    margin : auto;
    text-align : center;
    width : 95%;
    background-image: linear-gradient(white, rgb(230,230,230));
    border-radius : 15px;
    font-size:30px;
    color:black;
  }

  #accident_img{
    margin-top : 20px;
    margin-bottom : 20px;
    text-align: center;
  }

  #accident_img >img{
    width : 400px;
    height : 200px;
  }

  h2 {
    font-size : 30px;
  }

  .line {
    background-color: rgb(240,240,240);
    border-radius : 15px;
    margin : auto;
    width : 95%;
    display: flex;
    grid-gap: 20px;
    height : 700px;
  }

  #line_chart_anno {
    width : 45%;
    margin-left : 20px
  }

  #line_chart {
    width : 45%;
    margin-top : 30px;
    margin-left : 30px;
  }

  .bar {
    background-color: rgb(240,240,240);
    border-radius : 15px;
    margin : auto;
    width : 95%;
    display: flex;
    grid-gap: 20px;
    height : 700px;
  }

  #bar_chart_anno {
    width : 45%;
    margin-left : 30px;
  }

  #bar_chart {
    width : 45%;
    margin-top : 30px;
    margin-left : 20px
  }

  .map {
    background-color: rgb(240,240,240);
    border-radius : 15px;
    margin : auto;
    width : 95%;
    display: flex;
    grid-gap: 20px;
  }

  #map_anno {
    width : 45%;
    margin-top : 30px;
    margin-left : 20px;
    margin-bottom : 30px;
  }

  #choropleth_map {
    margin-top : 30px;
    margin-left : 30px;
    width : 45%;
  }

  .heat_map {
    background-color: rgb(240,240,240);
    margin : auto;
    width : 95%;
    border-radius : 15px;
  }

  #heat_map_anno {
    margin-top : 30px;
    margin-left : 20px;
    margin-bottom : 30px;
    width : 95%;
  }

  #heat_map {
    margin-left : 20px;
    text-align: center;
    margin-top : 30px;
  }

